<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="chunkChopper"
          class="com.impatient.spring.ChunkChopper"

          init-method="init"
          destroy-method="destroy"


    />

    <bean  id="dicedChopper" class="com.impatient.spring.DicedChopper"/>

    <bean id="mixer" class="com.impatient.spring.BlenderMixer"/>

    <bean id="dishMaker" class="com.impatient.spring.DishMaker" autowire="byType">
        <constructor-arg ref="dicedChopper"/>

        <!-- Setter based dependency injection
        <property name="mixer" ref="blenderMixer"/>
        -->
     </bean>




</beans>